@model App.Models.Userss
@{
    ViewBag.Title = "Авторизация";
    Layout = "/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Registration", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
     
    <style>
        .password
        {
            margin-top: -8px;
        }
        .field-validation-error
        {
             color: red;
             margin-top: 10px;
        }
        .box {
            background: #b5add0;
            width: 300px;
            padding: 20px 34px;
            position: absolute;
            top: 8%;
            left: 50%;
            transform: translate(-50%);
            border-radius: 15px;
            color: #271447;
        }

        .btn
        {
            border: thick double;
        outline: none;
        text-decoration: none;
        cursor: pointer;
        padding: 10px 15px;
        border-radius: 100px;
        font-family: opensans;
        color: #271447;
        margin-left: 20%;
        background-color: #fff; /*Цвет кнопки*/
        }
        .box input[type="checkbox"]
        {
            margin-top: 7px;
        }

        .btn:hover {
                background-color: #d1c7e0;
        }
    </style>
    <div class="box">
        <h2 style="text-align: center;">Зарегистрироваться</h2>
        <p>Выберите себе магическое имя:</p>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control"})<br />
        @Html.ValidationMessageFor(m => m.Name)
        <p>Электронная почта:</p>
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        <br />
        @Html.ValidationMessageFor(m => m.Email)
        <p>Дата рождения:</p>
        <input type="date" id="start" name="BirthDate" value="2010-01-31" min="1666-01-01" max="2011-01-01">
        <p>Создайте себе пароль:</p>
        <div class="password">
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", type = "password", id = "password-input-1" })
            <br />
            <label>
                <input type="checkbox" onclick="togglePasswordVisibility('password-input-1')"> Показать пароль
            </label>
            <br />
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <p>Повторите пароль:</p>
        <div class="password">
            @Html.TextBoxFor(m => m.confirmPassword, new { @class = "form-control", type = "password", id = "password-input-2" })
            <br />
            <label>
                <input type="checkbox" onclick="togglePasswordVisibility('password-input-2')"> Показать пароль
            </label>
            <br />
            @Html.ValidationMessageFor(m => m.confirmPassword)
            <br />
            <br />
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Зарегистрироваться</button>
            </div>
        </div>
        <p>Уже с нами? <a href="/Home/Login">Войти в аккаунт</a></p>
    </div>
    <script>
        function togglePasswordVisibility(inputId) {
            var input = document.getElementById(inputId);
            if (input.type === "password") {
                input.type = "text";
            } else {
                input.type = "password";
            }
        }
    </script>

}